<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eportfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
     <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/style.css">
     <link rel = "icon" href ="/images/logo.jpg" alt="logo"
        type = "image/x-icon"> 
</head>
<body>
    
    <div class="container">
        <nav>
        <img class="userPic" src="/images/profilepic.jpg" alt="profile picture">
    
    <div class="userDetails">
        <h1> Amrit</h1>
         <h1>  Sapkota</h1> 
        </h1>
       
        <span>student</span>
       

    </div> 
   
    <div class="home">
        <a href="/">home</a>
        <ion-icon name="school-outline"></ion-icon>
        </div>
        <div class="contact">
            <a href="/contact">contact</a>
            <ion-icon name="call-outline"></ion-icon>
            </div>
   
            <div class="about">
                <a href="/about">about</a>
                <ion-icon name="person-outline"></ion-icon>
             
            </div>
            <div class="project">
                <a href="/project">project</a>
                <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                
        <div class="service">
            <a href="/service">service</a>
 <ion-icon name="chatbubbles-outline"></ion-icon>
                
                
                  </div>
    </nav>
    </div>
    
<h1 id="contactdetails" class="contactdetails" >contact details</h1>

<p>First Name : <textarea cols="20" name="TextArea1" rows="2"></textarea></p>
<p>Last Name : <textarea cols="20" name="TextArea4" rows="2"></textarea></p>
<p>Contact no:<textarea cols="20" name="TextArea2" rows="2"></textarea></p>
<p>Email :<textarea name="TextArea3" rows="2" style="width: 347px"></textarea></p>
<p><br>password : <input name="Password1" type="password"><form method="post">
	<input name="Submit1" type="submit" value="submit"></form>
<form method="post">
</form>
</p>



    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>