<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eportfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
     <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
        <img class="userPic" src="/images/profilepic.jpg" alt="profile picture">
    
    <div class="userDetails">
        <h1> Amrit</h1>
         <h1>  Sapkota</h1> 
        </h1>
       
        <span>student</span>
       

    </div> 
   
    <div class="home">
        <a href="/">home</a>
        <ion-icon name="school-outline"></ion-icon>
        </div>
        <div class="contact">
            <a href="/contact">contact</a>
            <ion-icon name="call-outline"></ion-icon>
            </div>
   
            <div class="about">
                <a href="/about">about</a>
                <ion-icon name="person-outline"></ion-icon>
             
            </div>
            <div class="project">
                <a href="/project">project</a>
                <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                
        <div class="service">
            <a href="/service">service</a>
 <ion-icon name="chatbubbles-outline"></ion-icon>
                
                
                  </div>
    </nav>
    </div>
    <h1 id="missionstatement" class="mission" > Mission Statement</h1>
    <br>
    <br>
    
    

    <h3> <b>To positively impact the life of every person I meet.” <br>

        <br>
    <br>
    <br>
        “To encourage everyone I interact with on a daily basis.”</b>  </h3>   
        
        <img class="userPic" src="/images/untitled.png" alt="logo">


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>